
NET "reset_switch"  LOC = "A7" | IOSTANDARD = LVCMOS33;


NET "v5_cpld(0)"  LOC = "R1" | IOSTANDARD = LVCMOS25;
NET "v5_cpld(1)"  LOC = "N4" | IOSTANDARD = LVCMOS25;
NET "v5_cpld(2)"  LOC = "N2" | IOSTANDARD = LVCMOS25;
NET "v5_cpld(3)"  LOC = "L3" | IOSTANDARD = LVCMOS25;
NET "v5_cpld(4)"  LOC = "N1" | IOSTANDARD = LVCMOS25;
NET "v5_cpld(5)"  LOC = "L4" | IOSTANDARD = LVCMOS25;
NET "v5_cpld(6)"  LOC = "M1" | IOSTANDARD = LVCMOS25;
NET "v5_cpld(7)"  LOC = "P2" | IOSTANDARD = LVCMOS25;
NET "v5_cpld(8)"  LOC = "P4" | IOSTANDARD = LVCMOS25;
NET "v5_cpld(9)"  LOC = "P5" | IOSTANDARD = LVCMOS25;

NET "uc_cpld(0)"  LOC = "B10" | IOSTANDARD = LVCMOS33;
NET "uc_cpld(1)"  LOC = "E12" | IOSTANDARD = LVCMOS33;
NET "uc_cpld(2)"  LOC = "F12" | IOSTANDARD = LVCMOS33;
NET "uc_cpld(3)"  LOC = "B9" | IOSTANDARD = LVCMOS33;
NET "uc_cpld(4)"  LOC = "C9" | IOSTANDARD = LVCMOS33;
NET "uc_cpld(5)"  LOC = "C10" | IOSTANDARD = LVCMOS33;
NET "uc_cpld(6)"  LOC = "A9" | IOSTANDARD = LVCMOS33;
NET "uc_cpld(7)"  LOC = "D9" | IOSTANDARD = LVCMOS33;
NET "uc_cpld(8)"  LOC = "F15" | IOSTANDARD = LVCMOS33;
NET "uc_cpld(9)"  LOC = "G14" | IOSTANDARD = LVCMOS33;

#NET "sel<0>"  LOC = "P7" | IOSTANDARD = LVCMOS25 | PULLUP ;
#NET "sel<1>"  LOC = "N7" | IOSTANDARD = LVCMOS25 | PULLUP ;
#NET "sel<2>"  LOC = "M7" | IOSTANDARD = LVCMOS25 | PULLUP ;
#NET "sel<3>"  LOC = "T16" | IOSTANDARD = LVCMOS25 | PULLUP ;
#NET "sel<4>"  LOC = "R16" | IOSTANDARD = LVCMOS25 | PULLUP ;
#NET "sel<5>"  LOC = "M15" | IOSTANDARD = LVCMOS25 | PULLUP ;
#NET "sel<6>"  LOC = "P16" | IOSTANDARD = LVCMOS25 | PULLUP ;
#NET "sel<7>"  LOC = "L14" | IOSTANDARD = LVCMOS25 | PULLUP ;

#Using switch 7 for sel<0> because switch 1 seems broken
NET "sel<0>"  LOC = "L14" | IOSTANDARD = LVCMOS25 | PULLUP ;
NET "sel<1>"  LOC = "N7" | IOSTANDARD = LVCMOS25 | PULLUP ;
NET "sel<2>"  LOC = "M7" | IOSTANDARD = LVCMOS25 | PULLUP ;
NET "sel<3>"  LOC = "T16" | IOSTANDARD = LVCMOS25 | PULLUP ;
NET "sel<4>"  LOC = "R16" | IOSTANDARD = LVCMOS25 | PULLUP ;
NET "sel<5>"  LOC = "M15" | IOSTANDARD = LVCMOS25 | PULLUP ;
NET "sel<6>"  LOC = "P16" | IOSTANDARD = LVCMOS25 | PULLUP ;
NET "sel<7>"  LOC = "P7" | IOSTANDARD = LVCMOS25 | PULLUP ;

NET "tcka"  LOC = "A3" | IOSTANDARD = LVCMOS33 ; # AMC Control
NET "tckb"  LOC = "H14" | IOSTANDARD = LVCMOS33 ; # Header Control
NET "tcko<0>"  LOC = "K3" | IOSTANDARD = LVCMOS25  | SLEW = SLOW ; # Virtex5 Device
NET "tcko<1>"  LOC = "G3" | IOSTANDARD = LVCMOS33  | SLEW = SLOW ; # uC Device
NET "tcko<2>"  LOC = "T15" | IOSTANDARD = LVCMOS25  | SLEW = SLOW ; # External Device
NET "tdia"  LOC = "A4" | IOSTANDARD = LVCMOS33 ; # AMC Control
NET "tdib"  LOC = "J12" | IOSTANDARD = LVCMOS33 ; # Header Control
NET "tdio<0>"  LOC = "K4" | IOSTANDARD = LVCMOS25  | SLEW = SLOW ; # Virtex5 Device
NET "tdio<1>"  LOC = "F3" | IOSTANDARD = LVCMOS33  | SLEW = SLOW ; # uC Device
NET "tdio<2>"  LOC = "L13" | IOSTANDARD = LVCMOS25  | SLEW = SLOW ; # External Device
NET "tdoa"  LOC = "E8" | IOSTANDARD = LVCMOS33  | SLEW = SLOW ; # AMC Control
NET "tdob"  LOC = "H15" | IOSTANDARD = LVCMOS33  | SLEW = SLOW ; # Header Control
NET "tdoo<0>"  LOC = "L1" | IOSTANDARD = LVCMOS25 ; # Virtex5 Device
NET "tdoo<1>"  LOC = "F5" | IOSTANDARD = LVCMOS33 ; # uC Device
NET "tdoo<2>"  LOC = "N10" | IOSTANDARD = LVCMOS25 ; # External Device
NET "tmsa"  LOC = "B5" | IOSTANDARD = LVCMOS33 ; # AMC Control
NET "tmsb"  LOC = "G16" | IOSTANDARD = LVCMOS33 ; # Header Control
NET "tmso<0>"  LOC = "L2" | IOSTANDARD = LVCMOS25  | SLEW = SLOW ; # Virtex5 Device
NET "tmso<1>"  LOC = "G4" | IOSTANDARD = LVCMOS33  | SLEW = SLOW ; # uC Device
NET "tmso<2>"  LOC = "P13" | IOSTANDARD = LVCMOS25  | SLEW = SLOW ; # External Device

NET "V5_PROG_B" LOC = "R3"  | IOSTANDARD = LVCMOS25;
NET "V5_INIT_B" LOC = "M6"  | IOSTANDARD = LVCMOS25;
NET "V5_DONE" LOC = "T3"  | IOSTANDARD = LVCMOS25;

NET "DUMMY" LOC = "T6"  | IOSTANDARD = LVCMOS25 | SLEW = SLOW ;

NET "LED<0>" LOC = "A14"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
NET "LED<1>" LOC = "A16"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
NET "LED<2>" LOC = "D15"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
NET "LED<3>" LOC = "E15"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;



