NET sys_clk_pin LOC= E18 | IOSTANDARD = LVCMOS33;
NET sys_clk_pin TNM_NET = sys_clk_pin;

TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 10000 ps;

NET clocks/rst TIG;
NET clocks/nuke_i TIG;

# Ethernet PHY

TIMEGRP "gmii_tx"=PADS("gmii_tx*");
TIMEGRP "gmii_tx" OFFSET = OUT AFTER sys_clk_pin REFERENCE_PIN "gmii_tx_clk" RISING;

NET gmii_tx_clk LOC=A19 | IOSTANDARD=LVCMOS33 | SLEW="FAST";
NET gmii_txd<0> LOC=D19 | IOSTANDARD=LVCMOS33;
NET gmii_txd<1> LOC=C19 | IOSTANDARD=LVCMOS33;
NET gmii_txd<2> LOC=A20 | IOSTANDARD=LVCMOS33;
NET gmii_txd<3> LOC=B20 | IOSTANDARD=LVCMOS33;
NET gmii_txd<4> LOC=B19 | IOSTANDARD=LVCMOS33;
NET gmii_txd<5> LOC=A15 | IOSTANDARD=LVCMOS33;
NET gmii_txd<6> LOC=B22 | IOSTANDARD=LVCMOS33;
NET gmii_txd<7> LOC=B21 | IOSTANDARD=LVCMOS33;
NET gmii_tx_en LOC=A23 | IOSTANDARD=LVCMOS33;
NET gmii_tx_er LOC=A22 | IOSTANDARD=LVCMOS33;

NET gmii_rx_clk LOC=E20 | IOSTANDARD=LVCMOS33 | TNM= "gmii_rx_clk";
TIMESPEC "TS_GMII_RX_CLK" = PERIOD "gmii_rx_clk" 125MHz;
OFFSET = IN 2.5ns VALID 3ns BEFORE gmii_rx_clk;
NET gmii_rxd<0> LOC=D24 | IOSTANDARD=LVCMOS33;
NET gmii_rxd<1> LOC=D23 | IOSTANDARD=LVCMOS33;
NET gmii_rxd<2> LOC=D21 | IOSTANDARD=LVCMOS33;
NET gmii_rxd<3> LOC=C26 | IOSTANDARD=LVCMOS33;
NET gmii_rxd<4> LOC=D20 | IOSTANDARD=LVCMOS33;
NET gmii_rxd<5> LOC=C23 | IOSTANDARD=LVCMOS33;
NET gmii_rxd<6> LOC=B25 | IOSTANDARD=LVCMOS33;
NET gmii_rxd<7> LOC=C22 | IOSTANDARD=LVCMOS33;
NET gmii_rx_dv LOC=C21 | IOSTANDARD=LVCMOS33;
NET gmii_rx_er LOC=B24 | IOSTANDARD=LVCMOS33;

NET phy_rstb LOC=B26 | IOSTANDARD=LVCMOS33;

NET leds<0> LOC= AF22 | IOSTANDARD = LVCMOS18 | PULLUP;
NET leds<1> LOC= AF23 | IOSTANDARD = LVCMOS18 | PULLUP;
NET leds<2> LOC= AF25 | IOSTANDARD = LVCMOS18 | PULLUP;
NET leds<3> LOC= AE25 | IOSTANDARD = LVCMOS18 | PULLUP;

NET dip_switch<0> LOC= AD13 | IOSTANDARD = LVCMOS18;
NET dip_switch<1> LOC= AE13 | IOSTANDARD = LVCMOS18;
NET dip_switch<2> LOC= AF13 | IOSTANDARD = LVCMOS18;
NET dip_switch<3> LOC= AD15 | IOSTANDARD = LVCMOS18;
