NET sysclk_p LOC = AD12 | IOSTANDARD = LVDS | TNM_NET = sysclk;
NET sysclk_n LOC = AD11 | IOSTANDARD = LVDS; # External termination

TIMESPEC TS_sysclk = PERIOD sysclk 5ns;

NET eth/txoutclk TNM_NET=txoutclk;
TIMESPEC TS_txoutclk = PERIOD txoutclk 16ns;

NET clocks/rst TIG;
NET clocks/nuke_i TIG;

NET gt_clkp LOC=G8 | DIFF_TERM=TRUE | TNM_NET=gt_clk;
NET gt_clkn LOC=G7 | DIFF_TERM=TRUE;

TIMESPEC TS_gt_clk = PERIOD gt_clk 8ns;

INST eth/phy/transceiver_inst/gtwizard_inst/gt0_gtwizard_i/gtxe2_i LOC=GTXE2_CHANNEL_X0Y10;

NET gt_txp LOC=H2;
NET gt_txn LOC=H1;
NET gt_rxp LOC=G4;
NET gt_rxn LOC=G3;

NET sfp_los LOC=P19 | IOSTANDARD=LVCMOS25;

NET leds<0> LOC=AB8 | IOSTANDARD=LVCMOS15;
NET leds<1> LOC=AA8 | IOSTANDARD=LVCMOS15;
NET leds<2> LOC=AC9 | IOSTANDARD=LVCMOS15;
NET leds<3> LOC=AB9 | IOSTANDARD=LVCMOS15;
