NET sysclk_p LOC = AD12 | IOSTANDARD = LVDS | TNM_NET = sysclk;
NET sysclk_n LOC = AD11 | IOSTANDARD = LVDS;

TIMESPEC TS_sysclk = PERIOD sysclk 200MHz;

NET ipb_clk TNM_NET = tnm_ipb_clk;
NET clk125 TNM_NET = tnm_clk125;
TIMESPEC TS_tig_ipb_125 = FROM tnm_ipb_clk TO tnm_clk125 TIG;
TIMESPEC TS_tig_125_ipb = FROM tnm_clk125 TO tnm_ipb_clk TIG;

NET "clocks/rst" TIG;
NET clocks/nuke_i TIG;

NET leds<0> LOC=AB8 | IOSTANDARD=LVCMOS15;
NET leds<1> LOC=AA8 | IOSTANDARD=LVCMOS15;
NET leds<2> LOC=AC9 | IOSTANDARD=LVCMOS15;
NET leds<3> LOC=AB9 | IOSTANDARD=LVCMOS15;

# Ethernet PHY
TIMEGRP TG_gmii_tx=PADS("gmii_tx*");
TIMEGRP TG_gmii_tx OFFSET = OUT AFTER sysclk_p REFERENCE_PIN "gmii_gtx_clk" RISING;

NET gmii_gtx_clk LOC=K30 | IOSTANDARD=LVCMOS25 | SLEW=FAST;
NET gmii_txd<0> LOC=N27 | IOSTANDARD=LVCMOS25;
NET gmii_txd<1> LOC=N25 | IOSTANDARD=LVCMOS25;
NET gmii_txd<2> LOC=M29 | IOSTANDARD=LVCMOS25;
NET gmii_txd<3> LOC=L28 | IOSTANDARD=LVCMOS25;
NET gmii_txd<4> LOC=J26 | IOSTANDARD=LVCMOS25;
NET gmii_txd<5> LOC=K26 | IOSTANDARD=LVCMOS25;
NET gmii_txd<6> LOC=L30 | IOSTANDARD=LVCMOS25;
NET gmii_txd<7> LOC=J28 | IOSTANDARD=LVCMOS25;
NET gmii_tx_en LOC=M27 | IOSTANDARD=LVCMOS25;
NET gmii_tx_er LOC=N29 | IOSTANDARD=LVCMOS25;

NET gmii_rx_clk LOC=U27 | IOSTANDARD=LVCMOS25 | TNM_NET= "gmii_rx_clk";
TIMESPEC "TS_GMII_RX_CLK" = PERIOD "gmii_rx_clk" 125MHz;
OFFSET = IN 2.5ns VALID 3ns BEFORE gmii_rx_clk;
NET gmii_rxd<0> LOC=U30 | IOSTANDARD=LVCMOS25;
NET gmii_rxd<1> LOC=U25 | IOSTANDARD=LVCMOS25;
NET gmii_rxd<2> LOC=T25 | IOSTANDARD=LVCMOS25;
NET gmii_rxd<3> LOC=U28 | IOSTANDARD=LVCMOS25;
NET gmii_rxd<4> LOC=R19 | IOSTANDARD=LVCMOS25;
NET gmii_rxd<5> LOC=T27 | IOSTANDARD=LVCMOS25;
NET gmii_rxd<6> LOC=T26 | IOSTANDARD=LVCMOS25;
NET gmii_rxd<7> LOC=T28 | IOSTANDARD=LVCMOS25;
NET gmii_rx_dv LOC=R28 | IOSTANDARD=LVCMOS25;
NET gmii_rx_er LOC=V26 | IOSTANDARD=LVCMOS25;

INST eth/*iodelay* IDELAY_VALUE = 27;

NET phy_rstb LOC=L20 | IOSTANDARD=LVCMOS25;

