NET sysclk_p LOC=J9 | IOSTANDARD = LVDS_25 | DIFF_TERM=TRUE | TNM_NET=sysclk;
NET sysclk_n LOC=H9 | IOSTANDARD = LVDS_25 | DIFF_TERM=TRUE;

TIMESPEC TS_sysclk = PERIOD sysclk 5ns;

NET eth/clk125_out TNM_NET=clk125;
TIMESPEC TS_clk125 = PERIOD clk125 8ns;

NET clocks/rst TIG;
NET clocks/nuke_i TIG;

INST eth/*/gtxe1_i LOC=GTXE1_X0Y19;

INST sgmii_clkp LOC=H6 | DIFF_TERM=TRUE | TNM_NET = sgmii_clk;
INST sgmii_clkn LOC=H5 | DIFF_TERM=TRUE;

TIMESPEC TS_sgmii_clk = PERIOD sgmii_clk 8ns;

NET sgmii_txp LOC=A3;
NET sgmii_txn LOC=A4;
NET sgmii_rxp LOC=B5;
NET sgmii_rxn LOC=B6;

NET phy_rstb LOC=AH13 | IOSTANDARD=LVCMOS25;

NET leds<0> LOC=AC22 | IOSTANDARD=LVCMOS15;
NET leds<1> LOC=AC24 | IOSTANDARD=LVCMOS15;
NET leds<2> LOC=AE22 | IOSTANDARD=LVCMOS15;
NET leds<3> LOC=AE23 | IOSTANDARD=LVCMOS15;
NET leds<4> LOC=AB23 | IOSTANDARD=LVCMOS15;
NET leds<5> LOC=AG23 | IOSTANDARD=LVCMOS15;
NET leds<6> LOC=AE24 | IOSTANDARD=LVCMOS15;
NET leds<7> LOC=AD24 | IOSTANDARD=LVCMOS15;

