NET sysclk_p LOC = K21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | TNM_NET = sysclk;
NET sysclk_n LOC = K22 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

TIMESPEC TS_sysclk = PERIOD sysclk 5000 ps;

NET ipb_clk TNM_NET = tnm_ipb_clk;
NET clk125 TNM_NET = tnm_clk125;
TIMESPEC TS_tig_ipb_125 = FROM tnm_ipb_clk TO tnm_clk125 TIG;
TIMESPEC TS_tig_125_ipb = FROM tnm_clk125 TO tnm_ipb_clk TIG;

NET clocks/rst TIG;
NET clocks/nuke_i TIG;

NET leds<0> LOC=D17 |IOSTANDARD=LVCMOS25;
NET leds<1> LOC=AB4 |IOSTANDARD=LVCMOS25;
NET leds<2> LOC=D21 |IOSTANDARD=LVCMOS25;
NET leds<3> LOC=W15 |IOSTANDARD=LVCMOS25;

NET dip_switch<0> LOC=C18 | IOSTANDARD=LVCMOS25;
NET dip_switch<1> LOC=Y6 | IOSTANDARD=LVCMOS25;
NET dip_switch<2> LOC=W6 | IOSTANDARD=LVCMOS25;
NET dip_switch<3> LOC=E4 | IOSTANDARD=LVCMOS25;

# Ethernet PHY
TIMEGRP TG_gmii_tx=PADS("gmii_tx*");
TIMEGRP TG_gmii_tx OFFSET = OUT AFTER sysclk_p REFERENCE_PIN "gmii_gtx_clk" RISING;

NET gmii_gtx_clk LOC=AB7 | IOSTANDARD=LVCMOS25 | SLEW=FAST;
NET gmii_txd<0> LOC=U10 | IOSTANDARD=LVCMOS25;
NET gmii_txd<1> LOC=T10 | IOSTANDARD=LVCMOS25;
NET gmii_txd<2> LOC=AB8 | IOSTANDARD=LVCMOS25;
NET gmii_txd<3> LOC=AA8 | IOSTANDARD=LVCMOS25;
NET gmii_txd<4> LOC=AB9 | IOSTANDARD=LVCMOS25;
NET gmii_txd<5> LOC=Y9 | IOSTANDARD=LVCMOS25;
NET gmii_txd<6> LOC=Y12 | IOSTANDARD=LVCMOS25;
NET gmii_txd<7> LOC=W12 | IOSTANDARD=LVCMOS25;
NET gmii_tx_en LOC=T8 | IOSTANDARD=LVCMOS25;
NET gmii_tx_er LOC=U8 | IOSTANDARD=LVCMOS25;

NET gmii_rx_clk LOC=P20 | IOSTANDARD=LVCMOS25 |TNM_NET= "gmii_rx_clk";
TIMESPEC "TS_GMII_RX_CLK" = PERIOD "gmii_rx_clk" 125MHz;
OFFSET = IN 2.5ns VALID 3ns BEFORE gmii_rx_clk;
NET gmii_rxd<0> LOC=P19 | IOSTANDARD=LVCMOS25;
NET gmii_rxd<1> LOC=Y22 | IOSTANDARD=LVCMOS25;
NET gmii_rxd<2> LOC=Y21 | IOSTANDARD=LVCMOS25;
NET gmii_rxd<3> LOC=W22 | IOSTANDARD=LVCMOS25;
NET gmii_rxd<4> LOC=W20 | IOSTANDARD=LVCMOS25;
NET gmii_rxd<5> LOC=V22 | IOSTANDARD=LVCMOS25;
NET gmii_rxd<6> LOC=V21 | IOSTANDARD=LVCMOS25;
NET gmii_rxd<7> LOC=U22 | IOSTANDARD=LVCMOS25;
NET gmii_rx_dv LOC=T22 | IOSTANDARD=LVCMOS25;
NET gmii_rx_er LOC=U20 | IOSTANDARD=LVCMOS25;

INST eth/*iodelay* IDELAY_VALUE = 10;

NET phy_rstb LOC=J22 | IOSTANDARD=LVCMOS25;
