NET sysclk_p LOC=AP21 | IOSTANDARD=LVDS_25 | DIFF_TERM = TRUE | TNM_NET=sysclk_p;
NET sysclk_n LOC=AP20 | IOSTANDARD=LVDS_25 | DIFF_TERM = TRUE;

TIMESPEC TS_sysclk_p = PERIOD sysclk_p 8ns;

NET eth/clkin TNM_NET=clkin;
TIMESPEC TS_clkin = PERIOD clkin 8ns;

NET clk125 TNM_NET=clk125;
TIMESPEC TS_clk125 = PERIOD clk125 8ns;

NET clocks/rst TIG;
NET clocks/nuke_i TIG;

INST eth/*/gtx_dual_i LOC=GTX_DUAL_X1Y5;
INST gt_clkn LOC=AD3;
INST gt_clkp LOC=AD4;

NET leds<0> LOC=AM36 | IOSTANDARD=LVCMOS25;
NET leds<1> LOC=AL35 | IOSTANDARD=LVCMOS25;
NET leds<2> LOC=AM32 | IOSTANDARD=LVCMOS25;
NET leds<3> LOC=AM31 | IOSTANDARD=LVCMOS25;

NET CLK_CNTRL(0) LOC=AH30 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL00
NET CLK_CNTRL(1) LOC=AH29 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL01
NET CLK_CNTRL(2) LOC=AN28 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL02
NET CLK_CNTRL(3) LOC=AP28 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL03
NET CLK_CNTRL(4) LOC=AH31 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL04
NET CLK_CNTRL(5) LOC=AT26 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL05
NET CLK_CNTRL(6) LOC=AT25 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL06
NET CLK_CNTRL(7) LOC=AK29 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL07
NET CLK_CNTRL(8) LOC=AV26 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL08
NET CLK_CNTRL(9) LOC=AV25 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL09
NET CLK_CNTRL(10) LOC=AU34 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL10
NET CLK_CNTRL(11) LOC=AT34 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL11
NET CLK_CNTRL(12) LOC=AU27 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL12
NET CLK_CNTRL(13) LOC=AT27 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL13
NET CLK_CNTRL(14) LOC=AR34 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL14
NET CLK_CNTRL(15) LOC=AM28 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL15
NET CLK_CNTRL(16) LOC=AN29 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL16
NET CLK_CNTRL(17) LOC=AR28 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL17
NET CLK_CNTRL(18) LOC=AR29 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL18
NET CLK_CNTRL(19) LOC=AU32 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL19
NET CLK_CNTRL(20) LOC=AT32 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL20
NET CLK_CNTRL(21) LOC=AT29 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL21
NET CLK_CNTRL(22) LOC=AU28 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL22
NET CLK_CNTRL(23) LOC=AM29 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL23

