NET sysclk_p LOC=AP21 | IOSTANDARD=LVDS_25 | DIFF_TERM = TRUE | TNM_NET=sysclk_p;
NET sysclk_n LOC=AP20 | IOSTANDARD=LVDS_25 | DIFF_TERM = TRUE;

TIMESPEC TS_sysclk_p = PERIOD sysclk_p 8ns;

NET eth/clkin TNM_NET=clkin;
TIMESPEC TS_clkin = PERIOD clkin 8ns;

NET clk125 TNM_NET=clk125;
TIMESPEC TS_clk125 = PERIOD clk125 8ns;

NET clocks/rst TIG;
NET clocks/nuke_i TIG;

INST eth/*/gtx_dual_i LOC=GTX_DUAL_X1Y5;
INST gt_clkn LOC=AD3;
INST gt_clkp LOC=AD4;

NET leds<0> LOC=AM36 | IOSTANDARD=LVCMOS25;
NET leds<1> LOC=AL35 | IOSTANDARD=LVCMOS25;
NET leds<2> LOC=AM32 | IOSTANDARD=LVCMOS25;
NET leds<3> LOC=AM31 | IOSTANDARD=LVCMOS25;

NET uc_spi_mosi LOC= W30 | IOSTANDARD=LVCMOS25; # UC2FPGA17
NET uc_spi_miso LOC=T37 | IOSTANDARD=LVCMOS25; # UC2FPGA16
NET uc_spi_sck LOC= W31 | IOSTANDARD=LVCMOS25;  # UC2FPGA18
NET uc_spi_cs_b LOC= AA30 | IOSTANDARD=LVCMOS25; # UC2FPGA19

NET pflash_fcs_b LOC=AL17 | IOSTANDARD=LVCMOS25;
NET pflash_fle_b LOC=AK20 | IOSTANDARD=LVCMOS25;
NET pflash_foe_b LOC=AM17 | IOSTANDARD=LVCMOS25;
NET pflash_fwe_b LOC=AR27 | IOSTANDARD=LVCMOS25;

NET pflash_a(0) LOC=N14 | IOSTANDARD=LVCMOS25;
NET pflash_a(1) LOC=N15 | IOSTANDARD=LVCMOS25;
NET pflash_a(2) LOC=R27 | IOSTANDARD=LVCMOS25;
NET pflash_a(3) LOC=P28 | IOSTANDARD=LVCMOS25;
NET pflash_a(4) LOC=N16 | IOSTANDARD=LVCMOS25;
NET pflash_a(5) LOC=M16 | IOSTANDARD=LVCMOS25;
NET pflash_a(6) LOC=N29 | IOSTANDARD=LVCMOS25;
NET pflash_a(7) LOC=M29 | IOSTANDARD=LVCMOS25;
NET pflash_a(8) LOC=M14 | IOSTANDARD=LVCMOS25;
NET pflash_a(9) LOC=L14 | IOSTANDARD=LVCMOS25;
NET pflash_a(10) LOC=P27 | IOSTANDARD=LVCMOS25;
NET pflash_a(11) LOC=N28 | IOSTANDARD=LVCMOS25;
NET pflash_a(12) LOC=P17 | IOSTANDARD=LVCMOS25;
NET pflash_a(13) LOC=N18 | IOSTANDARD=LVCMOS25;
NET pflash_a(14) LOC=N25 | IOSTANDARD=LVCMOS25;
NET pflash_a(15) LOC=N26 | IOSTANDARD=LVCMOS25;
NET pflash_a(16) LOC=P18 | IOSTANDARD=LVCMOS25;
NET pflash_a(17) LOC=N19 | IOSTANDARD=LVCMOS25;
NET pflash_a(18) LOC=P25 | IOSTANDARD=LVCMOS25;
NET pflash_a(19) LOC=P26 | IOSTANDARD=LVCMOS25;
NET pflash_a(20) LOC=AM27 | IOSTANDARD=LVCMOS25;
NET pflash_a(21) LOC=AL27 | IOSTANDARD=LVCMOS25;
NET pflash_a(22) LOC=AJ18 | IOSTANDARD=LVCMOS25;
NET pflash_a(23) LOC=AK18 | IOSTANDARD=LVCMOS25;

NET pflash_d(0) LOC=AR25 | IOSTANDARD=LVCMOS25;
NET pflash_d(1) LOC=AP25 | IOSTANDARD=LVCMOS25;
NET pflash_d(2) LOC=AK19 | IOSTANDARD=LVCMOS25;
NET pflash_d(3) LOC=AL19 | IOSTANDARD=LVCMOS25;
NET pflash_d(4) LOC=AN26 | IOSTANDARD=LVCMOS25;
NET pflash_d(5) LOC=AP26 | IOSTANDARD=LVCMOS25;
NET pflash_d(6) LOC=AM19 | IOSTANDARD=LVCMOS25;
NET pflash_d(7) LOC=AM18 | IOSTANDARD=LVCMOS25;
NET pflash_d(8) LOC=AT20 | IOSTANDARD=LVCMOS25;
NET pflash_d(9) LOC=AR20 | IOSTANDARD=LVCMOS25;
NET pflash_d(10) LOC=AM24 | IOSTANDARD=LVCMOS25;
NET pflash_d(11) LOC=AN25 | IOSTANDARD=LVCMOS25;
NET pflash_d(12) LOC=AN19 | IOSTANDARD=LVCMOS25;
NET pflash_d(13) LOC=AN20 | IOSTANDARD=LVCMOS25;
NET pflash_d(14) LOC=AM26 | IOSTANDARD=LVCMOS25;
NET pflash_d(15) LOC=AL26 | IOSTANDARD=LVCMOS25;


NET CLK_CNTRL(0) LOC=AH30 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL00
NET CLK_CNTRL(1) LOC=AH29 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL01
NET CLK_CNTRL(2) LOC=AN28 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL02
NET CLK_CNTRL(3) LOC=AP28 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL03
NET CLK_CNTRL(4) LOC=AH31 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL04
NET CLK_CNTRL(5) LOC=AT26 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL05
NET CLK_CNTRL(6) LOC=AT25 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL06
NET CLK_CNTRL(7) LOC=AK29 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL07
NET CLK_CNTRL(8) LOC=AV26 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL08
NET CLK_CNTRL(9) LOC=AV25 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL09
NET CLK_CNTRL(10) LOC=AU34 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL10
NET CLK_CNTRL(11) LOC=AT34 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL11
NET CLK_CNTRL(12) LOC=AU27 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL12
NET CLK_CNTRL(13) LOC=AT27 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL13
NET CLK_CNTRL(14) LOC=AR34 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL14
NET CLK_CNTRL(15) LOC=AM28 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL15
NET CLK_CNTRL(16) LOC=AN29 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL16
NET CLK_CNTRL(17) LOC=AR28 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL17
NET CLK_CNTRL(18) LOC=AR29 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL18
NET CLK_CNTRL(19) LOC=AU32 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL19
NET CLK_CNTRL(20) LOC=AT32 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL20
NET CLK_CNTRL(21) LOC=AT29 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL21
NET CLK_CNTRL(22) LOC=AU28 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL22
NET CLK_CNTRL(23) LOC=AM29 | IOSTANDARD=LVCMOS25;      # SCHEM NAME  =  CLK_CNTRL23

