NET eth/clk125_out TNM_NET=clk125;
TIMESPEC TS_clk125 = PERIOD clk125 8ns;

NET clocks/rst TIG;
NET clocks/nuke_i TIG;

NET gt_clkp LOC=M6 | DIFF_TERM=TRUE | TNM_NET=gtpclk;
NET gt_clkn LOC=M5 | DIFF_TERM=TRUE;
TIMESPEC TS_gtpclk = PERIOD gtpclk 8ns;

INST eth/*/gtxe1_i LOC=GTXE1_X0Y9;

NET leds<0> LOC=AF31 | IOSTANDARD=LVCMOS25;
NET leds<1> LOC=AB25 | IOSTANDARD=LVCMOS25;
NET leds<2> LOC=AC25 | IOSTANDARD=LVCMOS25;

# interface between FPGA and CPLD

NET "v6_cpld[0]" LOC = AE32        ;       # IO_L14N_VREF_13
NET "v6_cpld[1]" LOC = AB27        ;       # IO_L15P_13
NET "v6_cpld[2]" LOC = AC27        ;       # IO_L15N_13
NET "v6_cpld[3]" LOC = AG33        ;       # IO_L16P_13
NET "v6_cpld[4]" LOC = AG32        ;       # IO_L16N_13
NET "v6_cpld[5]" LOC = AA26        ;       # IO_L17P_13

# interface between FPGA and I2C EEPROM

NET sda LOC = AP21;
NET scl LOC = AP20;
