NET eth/clkin TNM_NET=clkin;
TIMESPEC TS_clkin = PERIOD clkin 8ns;

NET clk125 TNM_NET=clk125;
TIMESPEC TS_clk125 = PERIOD clk125 8ns;

NET clk125_fr TNM_NET=clk125_fr;
TIMESPEC TS_clk125_fr = PERIOD clk125_fr 8ns;

NET clocks/rst TIG;
NET clocks/nuke_i TIG;

INST eth/*/gtx_dual_i LOC=GTX_DUAL_X1Y5;
#INST "enet_clkn" LOC = "AD3";
#INST "enet_clkp" LOC = "AD4";

NET LEDS<0> LOC=AM36 | IOSTANDARD=LVCMOS25;
NET LEDS<1> LOC=AL35 | IOSTANDARD=LVCMOS25;
NET LEDS<2> LOC=AM32 | IOSTANDARD=LVCMOS25;
NET LEDS<3> LOC=AM31 | IOSTANDARD=LVCMOS25;


